.product-details {
    position: absolute;
    left: 350px;
    top: 230px;
    
    border-radius: 10px;
    margin-top: 20px;
    height: 924px;
    width: 1800px;
    background-color: #9c9e80;
}
.product-details p {
    text-align: center;
    position: relative;
    bottom: 10px;
    left: 1px;
    font-size: 40px;
   z-index: 5;
}
.product-details h1 {
   top: 1px;
   left: 5px;
}
.product-details img {
    height: 924px;
    width: 779.63px;
    top: 200px;
}
.product-description {
width: 800px;
height: 730px;
border-radius: 5px;
 background-color: #cdad85;
 padding: 10px;
 position: relative;
 bottom: 840px;
 left: 885px;
}

.reviews {
border: #333 solid 1px;
position: relative;
border-radius: 10px;
top: 800px;
left: 1295px;
width: 700px;
background-color: #f9f4ea;


}
.reviews span {
    font-size: 30px;
}
#review-text {
    position: relative;
    top: -77px;
    left: 70px;}
.reviews p {
    font-size: 20px;

}
#reviews-title {
    font-size: 50px;
    position: relative;
    top: -50px;
}
#review-rating {
    position: relative;
    top: -50px;
    left: 20px;
    
   
}
.add-to-cart {
    position: relative;
    top: 130px;
}