
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
    justify-items: center;
    padding: 200px;
    max-width: 2000px;
    height: 100vh;
    margin: 0 auto;


  }
  

  .product-card {
    background-color: #9c9e80 !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px #9c9e80;
    overflow: hidden;
    text-align: center;
    height: 620px;
    width: 400px;
    transition: transform 0.3s ease;
    border: #111 solid 2px;
  }
  
  .product-image {
    position: relative;
    bottom: 19px;
    right: 19px;
    width:450px;
    height: 600px;
    object-fit: fill;
  }
  
  .product-title {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
  }
  

  .product-price {
    font-size: 16px;
    color: #888;
  }

  .product-card {
    position: relative;
    background: #111;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #b68036;
    box-shadow: 
      4px 0 10px #b68036,
      0 4px 10px #b68036;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .product-card:hover {
    box-shadow: 
      6px 0 20px #605f4b,
      0 6px 20px #605f4b;
  }
  
  p {
    margin: 0;
  }
  image {
    width: 100%;
    height: 100%;
  }
  h2 {
    position: absolute;
    top: 0%;
    font-size: 26px;
    color: #605f4b;
  }
  .product-detail {
    height:35px;
    width: fit-content;
    position: relative;
    left: 40%;
    bottom: 5.5%;
    font-size: 30px ;
    /* border: #111    solid 2px; */
    border-radius: 5px;
    background-color: #605f4b;
  }